<a href="https://colab.research.google.com/github/lucatraverso/PySpark/blob/main/spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 63 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 60.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=32b4f643e6b35b6937b3fd4652eb8cc0fc1da7f7e1c0c4f5da1c1907bbef8b45
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practica').getOrCreate()

In [8]:
spark

In [6]:
### READ THE DATASET

df_pyspark = spark.read.option('header', 'True').csv('example.csv')

In [7]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Cristian| 31|        10|
|    Luca| 28|         8|
|    Juan| 30|         6|
+--------+---+----------+

In [33]:
df_pyspark = spark.read.csv('example.csv', header=True, inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Cristian| 31|        10|
|    Luca| 28|         8|
|    Juan| 30|         6|
+--------+---+----------+

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [17]:
df_pyspark.select(['Name', 'Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|Cristian|        10|
|    Luca|         8|
|    Juan|         6|
+--------+----------+

In [19]:
df_pyspark.describe().show()

+-------+--------+------------------+----------+
|summary|    Name|               Age|Experience|
+-------+--------+------------------+----------+
|  count|       3|                 3|         3|
|   mean|    null|29.666666666666668|       8.0|
| stddev|    null|1.5275252316519468|       2.0|
|    min|Cristian|                28|         6|
|    max|    Luca|                31|        10|
+-------+--------+------------------+----------+

In [34]:
### ADDING COLUMNS

df_pyspark = df_pyspark.withColumn('Experience after two years', df_pyspark['Experience'] + 2)

In [30]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Cristian| 31|        10|
|    Luca| 28|         8|
|    Juan| 30|         6|
+--------+---+----------+

In [35]:
### DROP COLUMNS

df_pyspark.drop('Experience after two years')

DataFrame[Name: string, Age: int, Experience: int]